<section class="image-block {% if class %}{{class}}{% endif %} {{image_padding}}" {% if image %}style="background-image:url({{image}})"{% endif %}>
	{% if body_text %}
		<div class="wrapper">
			<h3>{{body_text}}</h3>
		</div>
	{% endif %}
</section>
