.newsletter-block{
	@extend %bg_cover;
	@extend %block-pad;
	text-align: center;
	input {
    	padding: 12px 24px;
	}
	.js-form--result{
		color: red;
	}
	.form{
		width: 400px;
		margin: 0 auto;
	}
	.mc-field-group{
		width: 50%;
		display: inline-block;
	}
}
