.image-text-block-full{
	@extend %block-pad;
	position: relative;
	.itb-image{
		@extend %bg_cover;
		width: 100%;
		min-height: 300px;
		@include bp-medium {
			min-height: 0;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;
			width: 100%;
		}
	}
	.itb-text{
		width: 50%;
	}
	&.image_on_left{
		.itb-text{
			float: right;
		}
	}
	img{
		display: block;
	}
	.btn{
		margin-top: 32px;
	}
}
