.image-text-block{
	@extend %block-pad;
	.itb-text{
		@include bp-large{
			width: 444px;
			margin-left: auto;
		}
	}
	.image_on_left{
		.itb-text{
			grid-row-start: inherit;
			
			@include bp-large{
				grid-row-start: 1;
				max-width: 444px;
    			margin-left: 0;
			}
			
		}
	}
}
