.image-text-block-stn{
	position: relative;
	.itb-image{
		@extend %bg_cover;
		width: 100%;
		min-height: 300px;
		@include bp-medium {
			min-height: 0;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;
			width: 50%;
			margin-left: 50%;
		}
	}
	&.image_on_left{
		.itb-text{
			order:-1;
		}
		.itb-image{
			margin-left: 0;
		}
		.desc{
			float: right;
		}
	}
	img{
		display: block;
	}
	.btn{
		margin-top: 32px;
	}
	.desc{
		position: relative;
		z-index: 2;
		width: 100%;
		padding: 64px 24px;
		box-sizing: border-box;
		@include bp-medium {
			width: 50%;
			padding: 80px 64px;
		}
	}
}
