.image-text-block-boxed{
	&.add_padding{
		@extend %block-pad;
	}
	.itb-text{
		padding: 32px 12px 24px;
		@include bp-medium{
			padding: $pad_xl $pad_l $pad_xl $pad_l;
		}
	}
	.itb-image{
		background-color: #fff;
		min-height: 400px;
		margin-top: 32px;
		@extend %bg_cover;
		@include bp-medium{
			min-height: 0;
			margin: 0;
		}
	}
	.image_on_left{
		.itb-text{
			order:-1;
			@include bp-medium{
				padding:  $pad_xl $pad_l $pad_xl $pad_l;
			}
		}
	}
	img{
		display: block;
	}
	.btn{
		margin-top: 32px;
	}
}
