<section class="image-block" style="background-image:url({{image}})">
	{% if body_text %}
		<div class="wrapper">
			<h3 class="content {{image_padding}}">{{body_text}}</h3>
		</div>
	{% endif %}
</section>

