<section class="cta-block">
	<div class="wrapper">
		<h2>{{cta2_headline}}</h2>
		<div class="box-content">{{cta2_subheadline}}</div>
		<a href="{{options.cta2_button_link}}" class="btn">{{cta2_button_text}}</a>
	</div>
</section>
