.sponsor-standard-block{
	@extend %block-pad;
	text-align: center;
	h2{
		margin-bottom: $pad_m_m;
		@include bp-medium{
			margin-bottom: $pad_m;
		}
	}
	.layout4{
		img{
			min-width: 25%;
			max-width: 25%;
			margin-bottom: 16px;
		}
	}
	.layout6{
		img{
			min-width: 16%;
			max-width: 16%;
			margin-bottom: 16px;
		}
	}
	.layout8{
		img{
			min-width: 12%;
			max-width: 12%;
			margin-bottom: 16px;
		}
	}
	.grid--auto-c{
		flex-wrap:wrap;
		justify-content: center;
		img{
			max-height: 50px;
			max-width: 48%;
			@include bp-medium{
				max-height: 80px;
			}
		}
	}
}
