.filters > div{
	max-height: 0;
	overflow: hidden;
	transition:$transition;
}
.filters > .open {
	max-height: 500px;
	padding-top: 32px;
	padding-bottom: 16px;

}
.layout--filter{
	margin-bottom: 32px;
	button {
		background: no-repeat;
		border: none;
		margin-right: 16px;
		cursor: pointer;
	}
	.terms-tag{
		display: inline-block;
		margin-right: 16px;
		cursor: pointer;
	}
}
.filter-post{
	margin-bottom: 64px;
	h4 {
		padding: 63px 0;
	}
}
