.testimonials-standard-block{
	@extend %block-pad;
	text-align: center;
	img{
		width: 64px;
		border-radius: 50%;
		vertical-align: middle;
		margin-right: 24px;
	}
	.desc{
		width: 444px;
		margin: 0 auto;
		margin-bottom: 48px;
	}
	.person-info{
		.name{
			display: inline-block;
			color: $c1;
			span{
				display: block;
				color: $dark;
			}
		}
	}
	.tcard{
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
		background-color: #ffffff;
		padding: 32px;
		text-align: left;
	}
	.testimonial{
		margin-top: 32px;
		color: #9a9a9a;
	}
}
