<div class="newsletter-block lazyload" data-bg="{{image|resize(1400)}}"> 
	<div class="wrapper cf">
		<div class="wrap right-wrap">
			<h2>{{headline}}</h2>
			<div class="desc">
				{{sub_headline}}
			</div>
				<div class="form">
				<!-- Begin MailChimp Signup Form -->
				

				<!--End mc_embed_signup-->
				</div>
		</div>
		
	</div>
</div>
